    <form action="" (submit)="onSubmit()">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card p-3" style="width: 25vw;">
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="card-img-top" style="height: auto; width: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
                    </div>
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="nick_name" autocomplete="off" required name="nick_name" [(ngModel)]="nick_name">
                        <label for="floatingInput">Nick Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Full name" autocomplete="off" required name="full_name" [(ngModel)]="full_name">
                        <label for="floatingInput">Full Name</label>
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>


<router-outlet></router-outlet>
